.sidebar {
    display: grid;
    grid: {
        template: {
            columns: 50fr 50fr;
            rows: $row-height 1px auto;
        }
        gap: $gap-size;
    }
    padding: $gap-size;

    &--with-selection {
        grid-template-rows: $row-height 1px 1fr 1px auto;
    }

    &__new-word-input {
        grid-column: 1;
    }

    &__new-word-button {
        grid-column: 2;
        white-space: nowrap;
    }

    &__splitter {
        grid-column: span 2;
        margin: 0 !important;
    }

    &__word-tree {
        grid-column: span 2;
        overflow-y: auto;
    }

    &__settings {
        grid-column: span 2;
    }
}
