.sidebar {
    $word-row-height: 25px;
    $word-rows: 4;

    &-words {
        display: grid;
        grid: {
            template: {
                columns: 50fr 50fr;
                rows: $word-row-height 1px auto;
            }
            gap: $gap-size;
        }
        padding: $gap-size;

        &__button {
            white-space: nowrap;
        }

        &__splitter {
            grid-column: span 2;
            margin: 0 !important;
        }

        &__list {
            grid-column: span 2;
            overflow-y: auto;
            display: grid;
            grid: {
                auto-rows: minmax($word-row-height, max-content);
                row-gap: $gap-size;
            }
        }
    }

    &-word {
        cursor: pointer;
        max-height: $word-row-height;
        transition: max-height 1s;
        overflow: hidden;
        display: grid;
        grid: {
            template: {
                columns: 50fr 50fr 20px;
            }
            gap: $gap-size;
        }
        padding: {
            left: $gap-size;
            right: $gap-size;
        }
        border: {
            style: solid;
            width: $border-width;
            color: $border-color;
        }

        &:not(&--selected) {
            .sidebar-word__text-input {
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
        }

        &:hover {
            background-color: $word-list-background-color--hovered;
        }

        &--selected {
            max-height: $word-row-height * ($word-rows + 1);
            cursor: initial;
            background-color: $word-list-background-color--hovered;
            padding: $gap-size;
            overflow-y: auto;
        }

        &__label,
        &__text-input,
        &__number-input,
        &__icon {
            min-width: 20px;
        }

        &__label {
            grid-column: 1;
            align-self: center;
        }

        &__number-input {
            grid-column: 2;
        }

        &__text-input {
            grid-column: 1 / span 2;
        }

        &__icon {
            grid-column: 3;
            align-self: center;
        }
    }
}
