.sentence__outer {
    stroke-width: calc(var(--stroke-width) * 3);
}

.sentence__inner,
.word,
.letter,
.dot,
.line {
    stroke-width: var(--stroke-width);
}

.sentence__outer,
.sentence__inner,
.word,
.letter,
.dot,
.line {
    stroke: currentColor;
}

.word,
.letter,
.line {
    stroke-linecap: round;
}

.sentence__outer,
.sentence__inner,
.word,
.letter,
.line {
    fill: transparent;
}

.dot {
    fill: currentColor;
}
