.svg-dot {
    @extend .svg-word;
    stroke: inherit;
    fill: $svg-color;

    &--is-hovered.svg-dot {
        @extend .svg-word--is-hovered;
        fill: $svg-color--hovered;
    }

    &--is-selected.svg-dot {
        @extend .svg-word--is-selected;
        fill: $svg-color--selected;
    }

    &--is-dragging.svg-dot {
        @extend .svg-word--is-dragging;
    }
}
