.svg-word {
    fill: transparent;
    stroke-width: 1;
    stroke: #000000;

    &--is-hovered {
        stroke: #FF0000;
        cursor: pointer;
    }

    &--is-selected {
        stroke: #0000FF;
        cursor: grab;
    }

    &--is-dragging {
        cursor: grabbing;
    }
}