.svg-word {
    @extend .svg-sentence;

    &--is-hovered {
        stroke: $svg-color--hovered;
        cursor: pointer;
    }

    &--is-selected {
        stroke: $svg-color--selected;
        cursor: grab;
    }

    &--is-dragging {
        cursor: grabbing;
    }

    &__selection-area {
        stroke: none;
        fill: transparent;
    }
}
