.grid {
    width: 100%;
    height: 100%;
    padding: $gap-size;
    display: grid;
    grid: {
        gap: $gap-size;
        template: {
            columns: 20fr 80fr;
            rows: 100%;
            areas: 'sidebar svg';
        }
    }

    &__sidebar {
        grid-area: sidebar;
        border: {
            style: solid;
            color: $border-color;
            width: $border-width;
        }
    }

    &__svg {
        grid-area: svg;
        width: 100%;
        height: 100%;
        border: {
            style: solid;
            color: $border-color;
            width: $border-width;
        }
        overflow: hidden;
    }
}
