.sentence,
.word,
.letter,
.dot,
.line-slot {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 1px;
}

.sentence,
.word,
.letter,
.line-slot {
    fill: transparent;
}

.dot {
    fill: currentColor;
}

@media not print {
    .hovered__stroke--not-print {
        stroke: var(--color-hover-accent-strong);
    }

    .hovered__fill--not-print {
        fill: var(--color-hover-accent-strong);
    }

    .selected__stroke--not-print {
        stroke: var(--color-accent);
    }

    .selected__fill--not-print {
        fill: var(--color-accent);
    }
}

.transition-colors--not-print {
    transition-property: stroke, fill;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
}
