.sentence__outer {
    stroke-width: 3px;
}

.sentence__inner,
.word,
.letter,
.dot,
.line-slot {
    stroke-width: 1px;
}

.sentence__outer,
.sentence__inner,
.word,
.letter,
.dot,
.line-slot {
    stroke: currentColor;
}

.word,
.letter,
.line-slot {
    stroke-linecap: round;
}

.sentence__outer,
.sentence__inner,
.word,
.letter,
.line-slot {
    fill: transparent;
}

.dot {
    fill: currentColor;
}

@media not print {
    .touch-pinch-zoom--not-print {
        touch-action: pinch-zoom;
    }

    .hovered__stroke--not-print {
        stroke: var(--color-hover-accent-strong);
    }

    .hovered__fill--not-print {
        fill: var(--color-hover-accent-strong);
    }

    .selected__stroke--not-print {
        stroke: var(--color-accent);
    }

    .selected__fill--not-print {
        fill: var(--color-accent);
    }

    .transition-colors--not-print {
        transition-property: stroke, fill;
        transition-timing-function: var(--default-transition-timing-function);
        transition-duration: var(--default-transition-duration);
    }
}
