@media not print {
    .hovered--not-print {
        stroke: var(--color-hover-accent-strong);
        fill: var(--color-hover-accent-strong);
    }

    .selected--not-print {
        stroke: var(--color-accent);
        fill: var(--color-accent);
    }
}

.transition-colors--not-print {
    transition-property: stroke, fill;
    transition-timing-function: var(--default-transition-timing-function);
    transition-duration: var(--default-transition-duration);
}
